.DocumentTree-children {
  padding-left: 0;
}

.DocumentTree-element {
  list-style-type: none;
  padding-left: 2em;
}

.DocumentTree-description {
  padding-top: 0.25em;
  padding-bottom: 0.25em;

}

.DocumentTree-inserted {
  background-color: rgb(128, 255, 128);
}
.DocumentTree-inserted:before {
  content: "+";
  float: left;
  margin-left: -1.5em;
}

.DocumentTree-deleted {
  background-color: rgb(255, 128, 128);
}
.DocumentTree-deleted:before {
  content: "\2212";
  float: left;
  margin-left: -1.5em;
}

.DocumentTree-changed {
  background-color: rgb(255, 255, 128);
}