.DocumentTree-children {
  padding-left: 0;
}

.DocumentTree-element {
  list-style-type: none;
  padding-left: 2em;
}

.DocumentTree-description {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.DocumentTree-inserted {
  background-color: rgba(0, 128, 0, 0.51);
}
.DocumentTree-inserted:before {
  content: "+";
  float: left;
  margin-left: -1.5em;
}

.DocumentTree-deleted {
  background-color: rgba(255, 0, 0, 0.5);
}
.DocumentTree-deleted:before {
  content: "\2212";
  float: left;
  margin-left: -1.5em;
}

.DocumentTree-changed {
  background-color: rgba(255, 255, 0, 0.51);
}